<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>ビジネスサイト向け 無料ホームページテンプレート tp_biz25</title>
<meta name="viewport" content="width=device-width">
<meta name="copyright" content="Template Party">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="css/style.css">
<link href="css/style-s.css" rel="stylesheet" type="text/css" media="only screen and (max-width:480px)">
<link href="css/style-m.css" rel="stylesheet" type="text/css" media="only screen and (min-width:481px) and (max-width:800px)">
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<style>
#main h1 {
	background: #b3b3b3 url(images/bg1.png);
}
nav#mainmenu ul li a {
	background: #FFF url(images/arrow1.png) no-repeat 10px center;
}
</style>
<![endif]-->
</head>

<body>

<div id="container">

<header>
<h1><a href="index.html"><img src="images/logo.png" width="150" height="50" alt=""></a></h1>
</header>

<div id="contents">

<div id="main">

<section>
<h1>レスポンシブWEBデザインについて</h1>
<p>当テンプレートは、PC、スマホ、タブレット共通で閲覧可能なレスポンシブWEBデザインになっております。<br>
古いブラウザ（※特にIE8以下）で閲覧した場合にCSSの一部が適用されない（各を丸くする加工やグラデーションなどの加工等）のでご注意下さい。古いブラウザでも最低限見れる状態にはしてありますが、必要に応じて各htmlのhead内の&lt;!--[if lt IE 9]&gt;から&lt;![endif]--&gt;
の間に調整用のCSSを記述して下さい。<br>
また、簡易チェックにはPCを使う場合が多いと思いますのでタブレットやスマホ用のCSSにもPC環境用の設定が入っている場合があります。不要なら削除して下さい。</p>
</section>

<section>
<h1>各デバイスごとのレイアウトチェックは</h1>
<p>最終的なチェックは実際のタブレットやスマホで行うのがおすすめですが、臨時チェックは最新のブラウザ(IEならIE10以降)で行う事もできます。ブラウザの幅を狭くしていくと、タブレットやスマホ環境でのレイアウトになります。</p>
</section>

<section>
<h1>各デバイス用のレイアウト変更は</h1>
<p>cssフォルダに入っている各cssファイルで行って下さい。詳しい説明も入っています。<br>
style.cssが基本ファイルで、style-m.cssがタブレット用、style-s.cssがスマホ用です。htmlのhead内を見れば分かりますが、media=&quot;only screen and (～)&quot;の「～」部分でcssを切り替えるディスプレイのサイズを設定しています。ここは必要に応じて変更も可能です。</p>
</section>

<section>
<h1>当テンプレートの使い方</h1>
<p><strong class="color1">■titleタグの設定はとても重要です。念入りにワードを選んで適切に入力しましょう。</strong><br />
まず、htmlソースが見れる状態(メモ帳などで開いてもOK)にして、<br />
<span class="look">&lt;title&gt;ビジネスサイト向け 無料ホームページテンプレート tp_biz25&lt;/title&gt;</span><br />
を編集しましょう。あなたのホームページ名が「SAMPLE COMPANY」だとすれば、<br />
<span class="look">&lt;title&gt;SAMPLE COMPANY&lt;/title&gt;</span><br />
とすればＯＫです。SEO対策もするなら冒頭に重要なワードを入れておきましょう。</p>
<p>続いて、下の方の<br />
<span class="look">Copyright&copy; 2014 SAMPLE COMPANY All Rights Reserved.</span><br />
もあなたのサイト名に変更します。「2014」部分はその年その年にあわせて変更していって下さい。</p>
<p><strong class="color1">■サイト名を変更しましょう。</strong><br />
baseフォルダに入っている、logo.png(透明度を保ったロゴ画像の土台)にサイト名をのせて、imagesフォルダに上書きして下さい。<br>
画像サイズが配置サイズよりも大きい(希望サイズの縦横２倍で制作し、html側は希望サイズを指定)のは、高解像度のデバイスで見た場合にボケるのを防ぐ為です。<br>
他の画像についても劣化して見えないようにしたいなら縦横倍のサイズで作ってhtml側で半分に設定してあげて下さい。背景画像もサイズ変更は可能ですが、当テンプレートでは使っていない為、外部のマニュアルなど検索してみて下さい。<br>
補足：gif画像の場合はキレイに縮小されないので使わない方が無難です。</p>
<p><strong class="color1">■metaタグを変更しましょう。</strong><br />
htmlソースが見える状態にしてmetaタグを変更しましょう。</p>
<p>ソースの上の方に、<br />
<span class="look">content=&quot;ここにサイト説明を入れます&quot;</span><br />
という部分がありますので、テキストをサイトの説明文に入れ替えます。検索結果の文面に使われる場合もありますので、見た人が来訪したくなるような説明文を簡潔に書きましょう。</p>
<p>続いて、その下の行の<br />
<span class="look">content=&quot;キーワード１,キーワード２,～～～&quot;</span><br />
も設定します。ここはサイトに関係のあるキーワードを入れる箇所です。10個前後ぐらいあれば充分です。キーワード間はカンマ「,」で区切ります。</p>
</section>

<section>
<h1>※　左メニュー及び当ブロックのh1見出しバーの背景画像について</h1>
<p>当テンプレートのmainブロックのh1の見出しバーは、cssフォルダのstyle.cssの「#main h1」で背景画像を2種類(格子柄と丸いマーク)設定していますが、
IE8以下で反映されず背景が真っ白になってしまうので、htmlのhead内に直接スタイルを指定しています。背景画像を変更する際はこのhtml側の背景画像も間違えないようチェックしておいて下さい。尚、この場合、背景画像は１つしか設定はできません。<br>
もし、背景画像を１枚しか使わない(従来の背景画像の指定方法)事にした場合、html側からこのスタイルは削除してもらって構いません。<br>
左メニューの矢印アイコンについてもhtml内で直接設定しています。変更する場合はここもチェックして下さい。</p>
</section>

<section>
<h1>ページ上部の背景画像について</h1>
<p>style.cssで背景画像として指定しています。入れ替えたい場合は、好きな画像を用意し、「bg.jpg」のファイル名をつけてimagesフォルダに上書きすれば置き換わります。あまり濃い色の画像を使ってしまうと、テキストなどが読みづらくなるので注意して下さい。どうしても濃い写真を使いたい場合は、画像のサイズを小さくしてテキストにかぶらないようにしたり、メニューの背景色を透明度の指定から通常のカラー指定にするなど調整してみて下さい。</p>
</section>

<section>
<h1>トップページの「更新情報・お知らせ」の開閉ブロックについて</h1>
<p><strong class="color1">■当テンプレートの開閉ブロックパーツは<a href="http://www.crytus.co.jp/">有限会社クリタス様</a>提供のプログラムを使用しています。openclose.jsファイルは改変せずにご利用下さい。<br>
また、当社配布以外のテンプレートにプログラムのみを使う場合は<a href="http://template-party.com/free_program/openclose_license.html">こちらの規約</a>をお守り下さい。</strong></p>
<p><strong class="color1">■使い方解説</strong><br>
画面幅が480px以下である場合にブロックを閉じた状態で表示させています。サイズを変更したい場合は、htmlの下の方にある、<br>
<span class="color1">if (OCwindowWidth() &lt; 480) {
</span><br>
の<span class="color1">480</span>の数字を変更して下さい。<br>
また、PCなどの大きな端末を含めて同じような開閉ブロックとして使いたい場合はこの数字を3000など大きくしておけばOKです。</p>
<p>尚、PCなどでブラウザのサイズを変更して動作確認をする場合、更新（再読み込み）をしないと反映されませんのでご注意下さい。</p>
</section>

<section>
<h1>プレビューでチェックすると警告メッセージが出る場合（一部のブラウザ対象）</h1>
<p>IE8以下でのレイアウト崩れをさせない為に読み込んでいる「html5.js」に対して出る警告ですが、WEB上では警告は出ません。また、この警告が出ている間は効果も見る事ができないので、警告を解除してあげて下さい。これにより効果がちゃんと見れるようになります。</p>
</section>

</div>
<!--/main-->

<div id="sub">

<nav id="mainmenu">
<ul>
<li><a href="index.html">ホーム</a></li>
<li><a href="about.html">当社について</a></li>
<li><a href="service.html">サービス紹介</a></li>
<li><a href="recruit.html">採用情報</a></li>
<li><a href="link.html">リンク</a></li>
<li><a href="contact.html">お問い合わせ</a></li>
</ul>
</nav>

<aside class="box1 mb1em">
<h1 class="mb1em">アクセス</h1>
<p class="mini1">東京都XX区XXXXビル３F<br>
TEL：03-0000-0000<br>
受付：9:00～16:00<br>
定休日：土日祝</p>
</aside>

<aside class="box1 mb1em">
<p>このボックスは<br>
class=&quot;box1&quot;<br>
とすると出ます。ここに画像を置く場合、228px（※PC環境）まで。</p>
</aside>

<aside>
<h1>ボックスの外も</h1>
<p>使えます。ここは幅250px（※PC環境）まで。</p>
</aside>

</div>
<!--/sub-->

<p id="pagetop"><a href="#">↑ PAGE TOP</a></p>

</div>
<!--/contents-->

<footer>
<small>Copyright&copy; 2014 <a href="index.html">SAMPLE COMPANY</a>　All Rights Reserved.</small>
<span class="pr"><a href="http://template-party.com/" target="_blank">Web Design:Template-Party</a></span>
</footer>

</div>
<!--/container-->

</body>
</html>
