<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>ビジネスサイト向け 無料ホームページテンプレート tp_biz25</title>
<meta name="viewport" content="width=device-width">
<meta name="copyright" content="Template Party">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="css/style.css">
<link href="css/style-s.css" rel="stylesheet" type="text/css" media="only screen and (max-width:480px)">
<link href="css/style-m.css" rel="stylesheet" type="text/css" media="only screen and (min-width:481px) and (max-width:800px)">
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<style>
#main h1 {
	background: #b3b3b3 url(images/bg1.png);
}
nav#mainmenu ul li a {
	background: #FFF url(images/arrow1.png) no-repeat 10px center;
}
</style>
<![endif]-->
</head>

<body>

<div id="container">

<header>
<h1><a href="index.html"><img src="images/logo.png" width="150" height="50" alt=""></a></h1>
</header>

<div id="contents">

<div id="main">

<article>

<h1>採用情報</h1>
<p>スタッフ募集のご案内。</p>

<table class="ta1">
<caption>テーブルのキャプションを付ける場合はこれを使います</caption>
<tr>
<th>見出し</th>
<td>ここに説明など入れて下さい。サンプルテキスト。</td>
</tr>
<tr>
<th>見出し</th>
<td>ここに説明など入れて下さい。サンプルテキスト。</td>
</tr>
<tr>
<th>見出し</th>
<td>ここに説明など入れて下さい。サンプルテキスト。</td>
</tr>
<tr>
<th>見出し</th>
<td>ここに説明など入れて下さい。サンプルテキスト。</td>
</tr>
<tr>
<th>見出し</th>
<td>ここに説明など入れて下さい。サンプルテキスト。</td>
</tr>
</table>

</article>

</div>
<!--/main-->

<div id="sub">

<nav id="mainmenu">
<ul>
<li><a href="index.html">ホーム</a></li>
<li><a href="about.html">当社について</a></li>
<li><a href="service.html">サービス紹介</a></li>
<li><a href="recruit.html">採用情報</a></li>
<li><a href="link.html">リンク</a></li>
<li><a href="contact.html">お問い合わせ</a></li>
</ul>
</nav>

<aside class="box1 mb1em">
<h1 class="mb1em">アクセス</h1>
<p class="mini1">東京都XX区XXXXビル３F<br>
TEL：03-0000-0000<br>
受付：9:00～16:00<br>
定休日：土日祝</p>
</aside>

<aside class="box1 mb1em">
<p>このボックスは<br>
class=&quot;box1&quot;<br>
とすると出ます。ここに画像を置く場合、228px（※PC環境）まで。</p>
</aside>

<aside>
<h1>ボックスの外も</h1>
<p>使えます。ここは幅250px（※PC環境）まで。</p>
</aside>

</div>
<!--/sub-->

<p id="pagetop"><a href="#">↑ PAGE TOP</a></p>

</div>
<!--/contents-->

<footer>
<small>Copyright&copy; 2014 <a href="index.html">SAMPLE COMPANY</a>　All Rights Reserved.</small>
<span class="pr"><a href="http://template-party.com/" target="_blank">Web Design:Template-Party</a></span>
</footer>

</div>
<!--/container-->

</body>
</html>
